{% extends 'basedashboard.html.twig' %}

{% block title %}Hello PictureController!
{% endblock %}

{% block stylesheets %}
	<!-- Bootstrap CSS CDN -->
	<link
	rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

	<!-- Scrollbar Custom CSS -->
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
	<!-- Our Custom CSS -->

	<link rel="stylesheet" href="../assets/css/childCard.css">
	<link
	rel="stylesheet" href="../assets/css/dashboardstyle.css">
	<!-- icônes css.gg -->
	<link href='https://css.gg/css' rel='stylesheet'>

{% endblock %}

{% block body %}

	<div class="btn-ajout">
		<a href="{{path ('picture_add') }}" class="btn btn-primary">Ajouter une photo</a>
	</div>


	<div class="box">
	{% for picture in pictures %}
		<div class="card">
			<div class="imgBx">
				 <a href="{{ path('picture_read', {'id': picture.id }) }}"><img class="picture" src="{{ picture.file }}" width="200"></a>
			</div>
			<div class="details">
				<h2>{{ picture.title }}<br></h2>
			</div>
		</div>
	{% endfor %}
	</div>   

</div></div></div></div>{% block javascripts %}{% endblock %}{% endblock %}
