{% extends 'basedashboard.html.twig' %}

{% block title %}His Life
	{% dump (app.user )%}
{% endblock %}

{% block body %}

	{# <div class="children-choice-bar row d-flex justify-content-between p-2 m-0">
		<div class="d-lg-none">
			<img class="img-logo" src="images/HisLifeMobileLogo.png" alt=""></div>
		<div class="arrow">
			<i class="gg-arrow-left"></i>
		</div>
		<div class="btn-modif">
					<a class="btn btn-primary" href="">Zorro</a>
					
		</div>
		{# <div class="name-child">Zorro</div> #}
		{# <div class="arrow">
			<i class="gg-arrow-right"></i>
		</div>
		<div class="add d-lg-none">
			<i class=" gg-add"></i>
		</div>
	</div> #}

	<main class="">
		<div class="d-lg-none border border-dark p-2">
			<a class="card-lien" href="#">
				<i class=""></i>Vie Scolaire</a>
			<div class="row">
				<div class="col-2">
					<img class="img-fluid" src="images/avatar.png" alt="">
				</div>
			</div>
			<div class="col-10">
				<p class="m-0">Micheline</p>
				<p class="mb-1">25/02/2020</p>

				<div class="contenu-text">
					<p>Il as encore jouer aux billes avec ses crottes de nez !</p>
				</div>
				<div class="btn-modif">
					<a class="btn btn-primary" href="">Modifier</a>
					<a class="btn btn-primary" href="">Supprimer</a>
				</div>
			</div>
		</div>

		<!-- WARNING ! DESKTOP HTML NOW!  -->
		<div class="desktop-container d-none d-lg-flex row">
			<div class="card col-5 border border-grey" style="width: 18rem;">
				<img src="assets/images/sante.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Santé</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<div class="card-btn">
						<a href="#" class="btn btn-primary">Modifier</a>
						<a href="#" class="btn btn-primary">Supprimer</a>
					</div>
				</div>
			</div>

			<div class="card col-5 border border-grey" style="width: 18rem;" >
				<h5 class="card-title">Vie Scolaire</h5>
				<h6 >Dernier ajout dans vie scolaire <span id="selectedChildSchoolEvent_lastPost"></span> </h6>
				<img id="selectedChildSchoolEvent_img" src="" class="card-img-top" alt="...">
				<div class="card-body">
					<p id="selectedChildSchoolEvent_name"class="card-text"></p>

					<a href="" class="btn btn-primary">Voir le bulletin en détail</a>

					<a href="#" class="btn btn-primary">Modifier</a>
					<a href="#" class="btn btn-primary">Supprimer</a>
				</div>
			</div>
			<div class="card col-5 border border-grey" style="width: 18rem;">
				<img src="assets/images/calendrier.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Calendrier</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="btn btn-primary">Modifier</a>
					<a href="#" class="btn btn-primary">Supprimer</a>
				</div>
			</div>

			<div class="card col-5 border border-grey" style="width: 18rem;">
				<img src="assets/images/photo.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Galerie</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

					<a href="#" class="btn btn-primary t">Modifier</a>
					<a href="#" class="btn btn-primary ">Supprimer</a>

				</div>
			</div>

		</div>
		<!-- END OF DESKTOP HTML -->

	</div>
</div></main></div>
{% endblock %}
