{% extends 'base.html.twig' %}

{% block title %}His Life{% endblock %}

{% block stylesheets %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="assets/css/homestyle.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block body %}
<body>

    <header>
        <div class="header">
            <img src="assets/images/logo-texte-blanc-fond-transparent.png" alt="logo">
           <div class="header-login"><a href=""> Se Connecter</a></div>
        </div>
    </header>

    <main class="">
            <div class="banniere">
                <img src="assets/images/logo-fond-transparent.png" alt="logo">
                <p class="col-lg-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe sit deleniti beatae magni ab voluptatibus animi aperiam, in, itaque vero nulla aliquam? Quam, iusto? Sint itaque natus officiis culpa illo exercitationem inventore, reprehenderit eligendi amet labore obcaecati atque aliquam! Suscipit doloremque, eveniet et cum odit saepe vel rerum soluta velit.</p>
            </div>

    <div class="d-lg-flex justify-content-center m-2">

        <div class="wprock-img-zoom-hover col-12 col-lg-2 mr-3">
        <div class="wprock-img-zoom mt-2">
            <img src="assets/images/photo.jpg" alt="wpRock CSS - Zomm effect on image hover">
        </div>
        <p class="title">Album Photo</p>
        <p style="padding: 15px; margin: 0;">If the image or if this part of the text is flown over with the mouse, then the zoom effect will be triggered ;)</p>
        </div>

        <div class="wprock-img-zoom-hover col-12 col-lg-2 mr-3">
        <div class="wprock-img-zoom mt-2">
            <img src="assets/images/sante.jpg" alt="wpRock CSS - Zomm effect on image hover">
        </div>
        <p class="title">Santé</p>
        <p style="padding: 15px; margin: 0;">If the image or if this part of the text is flown over with the mouse, then the zoom effect will be triggered ;)</p>
        </div>

        <div class="wprock-img-zoom-hover col-12 col-lg-2 mr-3">
        <div class="wprock-img-zoom mt-2">
            <img src="assets/images/calendrier.jpg" alt="wpRock CSS - Zomm effect on image hover">
        </div>
        <p class="title">Calendrier</p>
        <p style="padding: 15px; margin: 0;">If the image or if this part of the text is flown over with the mouse, then the zoom effect will be triggered ;)</p>
        </div>

        <div class="wprock-img-zoom-hover col-12 col-lg-2 mr-3">
        <div class="wprock-img-zoom mt-2">
            <img src="assets/images/ecoleprimaire.jpg" alt="wpRock CSS - Zomm effect on image hover">
        </div>
        <p class="title">Vie Scolaire</p>
        <p style="padding: 15px; margin: 0;">If the image or if this part of the text is flown over with the mouse, then the zoom effect will be triggered ;)</p>
        </div>

    </div>
        <div class="d-flex justify-content-center m-2">
            <a class="btn btn-primary" href="#">Inscrivez-vous</a>
        </div>
    </div>
    </main>
    <footer>

        <nav class="footer">
            <ul class="col-8 d-flex justify-content-around">
                <li class="footer-nav-item"><a>A propos</a></li>
                <li class="footer-nav-item"><a>Mentions Légales</a></li>
                <li class="footer-nav-item"><a>Nous contacter</a></li>
            </ul>
            <div class="footer-copyright">&copy;HisLife</div>
        </nav>

    </footer>

{% block javascripts %}{% endblock %}
{% endblock %}