{% extends 'base.html.twig' %}

{% block title %}His Life{% endblock %}

{% block stylesheets %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="assets/css/homestyle.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block body %}

    <header>
            <div class="header">
            <img src="assets/images/logo-texte-blanc-fond-transparent.png" alt="logo">
            
        <div class="header-login">
        
            <a href="{{ path('app_login') }}"> Se Connecter</a>
            <a href="{{ path('app_register') }}"> S'inscrire</a></div>
        </div> 
    </header>
    <main class="">
            <div class="banniere">
                <img src="assets/images/logo-fond-transparent.png" alt="logo">
                <p class="col-lg-4">Ne plus oublier les rendez-vous concernant important de vos bambins, être au courant de ce que vie votre enfant même lorsque vous êtes loin ne seras plus jamais un soucis auxquel vous serez confrontez, His Life vous accompagne partout !!  </p>
            </div>

    <div class="d-lg-flex justify-content-center m-2">

        <div class="wprock-img-zoom-hover col-12 col-lg-2 mr-3">
        <div class="wprock-img-zoom mt-2">
            <img src="assets/images/photo.jpg" alt="wpRock CSS - Zomm effect on image hover">
        </div>
        <p class="title">Album Photo</p>
        <p style="padding: 15px; margin: 0;">Ne ratez plus aucune photo de vos enfants, partagez les sur His Life en toute sécurité</p>
        </div>

        <div class="wprock-img-zoom-hover col-12 col-lg-2 mr-3">
        <div class="wprock-img-zoom mt-2">
            <img src="assets/images/sante.jpg" alt="wpRock CSS - Zomm effect on image hover">
        </div>
        <p class="title">Santé</p>
        <p style="padding: 15px; margin: 0;">Plus besoin d'avoir le carnet de santé sous la mains a chaque instant, His Life garde pour vous les photos des pages du carnet de santé de vos enfants</p>
        </div>

        <div class="wprock-img-zoom-hover col-12 col-lg-2 mr-3">
        <div class="wprock-img-zoom mt-2">
            <img src="assets/images/calendrier.jpg" alt="wpRock CSS - Zomm effect on image hover">
        </div>
        <p class="title">Calendrier</p>
        <p style="padding: 15px; margin: 0;">His Life vous propose un calendrier pour ne plus jamais oublier vos Rendez-Vous.</p>
        </div>

        <div class="wprock-img-zoom-hover col-12 col-lg-2 mr-3">
        <div class="wprock-img-zoom mt-2">
            <img src="assets/images/ecoleprimaire.jpg" alt="wpRock CSS - Zomm effect on image hover">
        </div>
        <p class="title">Vie Scolaire</p>
        <p style="padding: 15px; margin: 0;">His Life vous propose de partagez avec vos proches les bulletins de note ainsi que les mots des professeurs de vos enfants pour ne plus rien raté a l'école</p>
        </div>

    </div>
        <div class="d-flex justify-content-center m-2">
            <a class="btn btn-primary" href="{{ path('app_register') }}">Inscrivez-vous</a>
        </div>
    </div>
    </main>
    <footer>

        <nav class="footer">
            <ul class="col-8 d-flex justify-content-around">
                <li class="footer-nav-item"><a>A propos</a></li>
                <li class="footer-nav-item"><a>Mentions Légales</a></li>
                <li class="footer-nav-item"><a>Nous contacter</a></li>
            </ul>
            <div class="footer-copyright">&copy;HisLife</div>
        </nav>

    </footer>

{% block javascripts %}{% endblock %}
{% endblock %}