{% extends 'basedashboard.html.twig' %}

{% block title %}Ajout d'une famille{% endblock %}


{% block body %}
<h1>Ajoutez une famille</h1>
{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.picture) }}
{{ form_end(form) }}
</div></div></div></div>
{% endblock %}
