body{
    margin: 0;
    padding: 0;
    
}

.header {
    background-color: #858bc5;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
    
}

.header-nav {
    list-style:none;
    
}

.header-nav-item {
    display: inline;
    
}

.header a {
    text-decoration: none;
    color: white;
}

.header-login {
    padding: 10px 50px 0 0;
}

.logo {
    text-align: center;
}

.footer {
    background-color: #858bc5;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    color: white ;
    
}

.footer-nav {
    list-style:none;
    
}

.footer-nav-item {
    display: inline;
    
}

.footer-copyright{
    padding: 15px 50px 0 0;
}

