@media(max-width: 991px) {
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
/* body {
    font-family: 'Poppins', sans-serif;
    background: #e1e4ed;
}
.main{
    display: flex;
    justify-content: center;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

h4{
    font-size: 15px;
} */



a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.children-choice-bar {
    padding-top: 15px !important;
}

.navbar {
    padding: 0px 0px;
    background:#838BC5 !important;
    border: none;
    border-radius: 0;
    margin-bottom: 40px; 
   /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);  */
    color: white;
    width: 100%;
    height: 40px;
   
}
.name-child{
    color: #65C8D0;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    text-shadow:2px 2px 2px #838BC5;
    
 } 
.navbar-expand {
    background:#838BC5 !important ;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.nav-link {
    color: white !important;
    text-transform: uppercase;
    margin-right: 10px;
}

.name-profil{
    color:#65C8D0;
}

.btn-modif{
    display: flex;
    justify-content: center;
   
}

.card-lien{
    text-transform: uppercase;
   color: #b49bc9;
   font-weight: bold;
}

.contenu-text{
    text-align: center;
    margin-left: 70px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.btn-primary{
    border-color: #b49bc9 ;
    background-color: #b49bc9;
    margin-left: 70px;
}

.gg-arrow-left{
    color:#65C8D0;
    
   
}

.arrow{
    padding-top: 5px !important;
}



.gg-arrow-right{
    color:#65C8D0;
}

.add{
    padding-top: 5px !important;
   
}

.gg-add{
    color: #838BC5;
    margin-right: 20px !important;
}




/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.img-logo{
    width: 35px ;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #838BC5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background:#838BC5 ;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    
}

#dismiss:hover {
    background: #fff;
    color:#B49BC9 ;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background:#838BC5 ;
    line-height:10px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}



#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5 !important;
    background: #fff !important;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff !important;
    background: #6d7fcc !important;
}

a[data-toggle="collapse"] {
    position: relative !important;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

}

/* ---------------------------------------------------
    FOOTER 
----------------------------------------------------- */

.footer-nav {
    margin-top: 150%;
    width: 100%;
    height: 50px;
    background-color: #838BC5;
    color:white;
}

/*                           VERSION DESKTOP                       */
/*                           VERSION DESKTOP                       */
/*                           VERSION DESKTOP                       */

@media (min-width: 992px) {
    /*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
/* body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
} */
body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
}

main {
    margin-left: 16px;
    min-height: 900px;
    width: 80vw;
}

.header {
    background-color: #858bc5;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
    justify-content: space-between;
}

.header img{
    width: 120px;
    /* height: 100%; */
    margin: 10px 50px;
}

.header-nav {
    list-style:none;
   
}

.header-nav-item {
    display: inline;
    
}

.header a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin: 0 15px;
}

.header-login {
    padding: 10px 50px 0 0;
    
}

.header-login a:hover {
    color: #65C8D0;
    font-weight: 600;
    text-decoration: none;
}

.logo {
    text-align: justify;
}

.logo img {
    max-width: 100%;
    height: auto;
    
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd; 
    margin: 40px 0;
}

.arrow i {
    color: #B49BC9; 
}

.gg-arrow-left {
    --ggs: 2;
}
.gg-arrow-right{
    --ggs: 2;
}

.name-child{
    color: #65C8D0;
    font-weight: 600 ;
    font-size: 30px;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.WrapperAndCentralBoxes {
    display: flex;
}

.wrapper {
    /* display: flex;
    width: 10%;
    align-items: stretch;
    margin-right: 0px; */
    height: 100%;
}

#sidebar {
    background: #838BC5;
    color: #fff;
    transition: all 0.3s;
    margin-right: 30px;
    width: 100%;
    height: 100%;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #838BC5;
    
}

#sidebar ul.components {
    padding: 20px 0;
    margin: 0 20px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    margin:10px 0;
}

#sidebar ul li a:hover {
    color: #838BC5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.btn btn-primary{
    color: #b49bc9;
  
   
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #838BC5;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.desktop-container{
    display: flex;
    justify-content: center;
}
.card{
   
    border:none !important;
    box-shadow:1px 1px 10px #838bc5;
    margin: 30px 30px;
    text-align: right;
}

.card-title{
 text-align: center;
 text-transform: uppercase;
 font-weight: bold;
 color: #838BC5;
}

.btn{
    
    background-color:#B49BC9 !important;
    border: none !important;
    margin: 40px 10px;
}

.btn-ajout{
    display: flex !important;
    justify-content: center;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 70%;
    padding: 20px;
    /* min-height: 100vh; */
    transition: all 0.3s;
}

/* ---------------------------------------------------
    FOOTER 
----------------------------------------------------- */
.footer {
    background-color: #858bc5;
    width: 100%;
    padding: 15px;
    display: flex !important;
    justify-content: space-between;
    color: white ;
}

.footer-nav {
    list-style:none;
}

.footer-nav-item {
    display: inline;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        /* margin-left: -250px; */
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
}

/* ================================== */

