body{
    margin: 0px;
    padding: 0px;
}

.main {
   padding-top: 85px;
}

.header {
    background-color: #858bc5;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
    justify-content: space-between;
}

.header img{
    width: 120px;
    height: 100%;
    margin: 10px 50px;
}

.header-nav {
    list-style:none;
    
}



.header-nav-item {
    display: inline;
    
}

.header a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin: 0 15px;
}

.header-login {
    padding: 10px 50px 0 0;
    
}

.header-login a:hover {
    color: #65C8D0;
    font-weight: 600;
    text-decoration: none;
}

.logo {
    text-align: justify;
}

.logo img {
    max-width: 100%;
    height: auto;
    
}




/* VERSION DESKTOP DE LA BANNIERE */
@media (min-width: 992px) {
    .banniere {
        background: url('../images/fondV2.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        opacity: 0.60;
        margin: 0px;
        padding: 150px;
        margin-bottom: 50px;
    }

    .banniere p{
        color:black;
        font-weight: bold;
        margin-top: 50px;
        margin-left: 200px;
        text-align: justify;
    }

}
/* VERSION MOBILE DE LA BANNIERE */
@media (max-width: 991px) {
    .banniere {
        background: url('../images/fondV2.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        opacity: 0.60;
        margin: 0px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .banniere img {
       max-width: 10px; 
    }
}


.footer {
    background-color: #858bc5;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    color: white ;
}

.footer-nav {
    list-style:none;
}

.footer-nav-item {
    display: inline;
}

.card img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    }
 
.card-title{
    text-align: center;
}

.title{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #B49BC9;
    
}

.card-btn{
    display: flex !important;
    justify-content: flex-end;
    
}

.btn {
    background-color:#B49BC9 !important;
    border: none !important;
    margin: 40px 0;
   
    
}

/**
* ZOOM IMAGE EFFECT ON HOVER // wpRock.fr
*/

.wprock-img-zoom-hover {
    border: #B49BC9 solid;
    border-radius: 5%;
}
.wprock-img-zoom-hover .wprock-img-zoom {
    overflow: hidden;
    position: relative; 
}
.wprock-img-zoom-hover .wprock-img-zoom img {
    /* max-width: 100%; */  
    width: auto; 
    height: 200px;  
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
.wprock-img-zoom-hover .wprock-img-zoom * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wprock-img-zoom-hover:hover .wprock-img-zoom img {
    -moz-transform: scale(1.06);
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}