{% extends 'base.html.twig' %}

{% block title %}Hello NoteController!{% endblock %}

{% block body %}
<div class="row">
    <h1>Mots des professeurs</h1>
</div>

<div class="row">

{% for note in notes %}
    <div class="card col-3">
    <div class="card-body">
        <h5 class="card-title">{{ note.name }}</h5>
        <img src="{{asset(note.file)}}" alt="">
        {# <a href="{{ path('movie_read_slug', {'slug': movie.slug}) }}" class="card-link">Voir la fiche</a> #}
    </div>
    </div>
{% endfor %}

</div>
{% endblock %}