{% extends 'basedashboard.html.twig' %}

{% block title %}His Life
{% endblock %}

{% block stylesheets %}
	
	
	

{% endblock %}
{% block body %}

{{form(form)}}


</div></div></div></div>{% block javascripts %}{% endblock %}{% endblock %}