<!DOCTYPE html>

<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{% block title %}His Life{% endblock %}</title>

{% block stylesheets %}{% endblock %}
<!-- icônes css.gg -->
<link href='https://css.gg/css' rel='stylesheet'>

</head>

{# <main class = "container"> #}
{% block body %}

{% block javascripts %}{% endblock %}
{% endblock %}
</body>

</html>