{% extends 'basedashboard.html.twig' %}


{% block body %}

<div class="row">
     {% for post in posts %}
		<div class="col-md-12">
			<div id="blog-comments" class="blog-post-comments">
				<h3>{{post.title}}</h3>
				<div class="blog-comments-content">
					<div class="media">
						<div class="pull-left">
							<img class="media-object" src="" alt="">
						</div>

						<div class="media-body">
							<div class="media-heading">
								<h4>{{post.people}}</h4>
								    <span>{{post.createdAt|date('d-m-Y')}}</span>
								</div>
								<p>{{post.content}}</p>
								
						</div>
					<!-- /.blog-comments-content -->

				</div>
				<!-- /.blog-post-comments -->


			</div>
			<!-- /.col-md-12 -->
             {% endfor %}
		</div>
		<!-- /.row -->


	{% endblock %}
